# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Asel\Desktop\SEC\SEC_Worksheets\Worksheet2 -Object Oriented Multithreading\cron\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
